.App {
  background-color: #21222c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content-pages {
  position: fixed;
  top: 103px;
  height: 100%;
  width: 100%;
  overflow: auto;
}
